<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagine</title>
    <!-- <meta name="view-transition" content="same-origin"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bandas.css') }}">
</head>
<body>
    <header id="navbar">
        <nav>
            <h1 class="logo">
                <a href="#">Imagine</a>
            </h1>
            <ul>
                <li><a href="/">Ínicio</a></li>
                <li class="pagina-atual"><a href="#">Bandas</a></li>
                <li>Filmes</li>
                <!-- <li>Músicas</li> -->
                <!-- <li>Artistas</li> -->
                <li><a href="/cadastrar_banda">Cadastrar</a></li>
                <li>Sobre</li>
            </ul>
        </nav>
    </header>   

    <main>
        <section class="conteudo-banda">
            <section class="imagem-banda">
                <img src="/static/img/banda/bandaimg01.webp" alt="Imagem dos integrantes da banda The Beatles">
            </section>

            <section class="texto-banda">
                <!-- <h1>
                    The Beatles
                </h1> -->
                <section class="banda-logo">
                    <img src="img/beatleslogo.webp" alt="Logo da banda The Beatles">
                </section>
                <p>
                    "The Beatles" ou Os Beatles gravaram juntos por um periodo
                    de mais ou menos 7 anos. Entre Outubro de 1962 até Maio de 1970,
                    eles lançaram 13 álbuns e vários singles. O catalogo de músicas
                    criado nesse período vendeu mais do que qualquer outra banda
                    na <b>história</b>, com um sucesso comercial que continua até os dias
                    atuais. Durante a primeira década do século 21 o álbum mais vendido do
                    mundo foi de uma coleção dos Beatles com as músicas que mais se destacaram.
                    Mas a significância da banda não parou apenas na questão de vendas, mas também
                    na inspiração. A música dos Beatles inpiraram gerações de músicos, escritores e
                    produtores.
                </p>
                <p>
                    A história dos Beatles começou em Liverpool em Março de 1957, quando <b><em>John Lennon</em></b>
                    formou o grupo chamado The Quarry Men, inspirado muito com o surgimento do rock na época e com
                    o sucesso de Elvis Presley. Em 6 de julho de 1957, <b><em>Paul McCartney</em></b> foi convidado a entrar na banda
                    com apenas 15 anos. Em fevereiro de 1958, é convidado à banda um amigo de escola de Paul,
                    <b><em>George Harrison</em></b>. A última peça do quebra-cabeça que formou à banda entrou
                    semanas antes de gravarem sua primeira música, em 4 de Setembro de 1962, <b><em>Ringo Starr</em></b>
                    se junta ao grupo. A primeira música foi lançada em 5 de Outubro de 1962, e assim começou a
                    história do Fab Four.
                </p>
            </section>

        </section>

        <section class="album-banda">

            <section class="album">
                <section class="imagem-album">
                    <img src="img/albumimg01.webp" alt="">
                </section>
                <section class="album-descricao">
                    <p class="album-titulo">Please Please Me - 1963</p>
                    <p class="album-genero">Rock</p>
                </section>
            </section>

            <section class="album">
                <section class="imagem-album">
                    <img src="img/albumimg02.webp" alt="">
                </section>
                <section class="album-descricao">
                    <p class="album-titulo">With the Beatles - 1963</p>
                    <p class="album-genero">Rock</p>
                </section>
            </section>

            <section class="album">
                <section class="imagem-album">
                    <img src="img/albumimg03.webp" alt="">
                </section>
                <section class="album-descricao">
                    <p class="album-titulo">A Hard Day's Night - 1964</p>
                    <p class="album-genero">Rock</p>
                </section>
            </section>

            <section class="album">
                <section class="imagem-album">
                    <img src="img/albumimg04.webp" alt="">
                </section>
                <section class="album-descricao">
                    <p class="album-titulo">Beatles for Sale - 1964</p>
                    <p class="album-genero">Rock</p>
                </section>
            </section>

            <section class="album">
                <section class="imagem-album">
                    <img src="img/albumimg05.webp" alt="">
                </section>
                <section class="album-descricao">
                    <p class="album-titulo">Help! - 1965</p>
                    <p class="album-genero">Rock</p>
                </section>
            </section>

            <section class="album">
                <section class="imagem-album">
                    <img src="img/albumimg06.webp" alt="">
                </section>
                <section class="album-descricao">
                    <p class="album-titulo">Rubber Soul - 1965</p>
                    <p class="album-genero">Rock</p>
                </section>
            </section>

            <section class="album">
                <section class="imagem-album">
                    <img src="img/albumimg07.webp" alt="">
                </section>
                <section class="album-descricao">
                    <p class="album-titulo">Revolver - 1966</p>
                    <p class="album-genero">Rock/Psychedelia</p>
                </section>
            </section>

            <section class="album">
                <section class="imagem-album">
                    <img src="img/albumimg08.webp" alt="">
                </section>
                <section class="album-descricao">
                    <p class="album-titulo">Sgt. Pepper's Lonely Hearts Club Band - 1967</p>
                    <p class="album-genero">Rock/Psychedelia</p>
                </section>
            </section>

            <section class="album">
                <section class="imagem-album">
                    <img src="img/albumimg09.webp" alt="">
                </section>
                <section class="album-descricao">
                    <p class="album-titulo">Magical Mystery Tour - 1967</p>
                    <p class="album-genero">Rock/Psychedelia</p>
                </section>
            </section>

            <section class="album">
                <section class="imagem-album">
                    <img src="img/albumimg10.webp" alt="">
                </section>
                <section class="album-descricao">
                    <p class="album-titulo">Yellow Submarine - 1969</p>
                    <p class="album-genero">Rock</p>
                </section>
            </section>

            <section class="album">
                <section class="imagem-album">
                    <img src="img/albumimg11.webp" alt="Imagem do album The Beatles (The White Album) da banda The Beatles lançado em 1968">
                </section>
                <section class="album-descricao">
                    <p class="album-titulo">The Beatles ("The White Album") - 1968</p>
                    <p class="album-genero">Rock</p>
                </section>
            </section>

            <section class="album">
                <section class="imagem-album">
                    <img src="img/albumimg12.webp" alt="Imagem do album The Beatles (The White Album) da banda The Beatles lançado em 1968">
                </section>
                <section class="album-descricao">
                    <p class="album-titulo">Abbey Road - 1969</p>
                    <p class="album-genero">Rock</p>
                </section>
            </section>

            <section class="album">
                <section class="imagem-album">
                    <img src="img/albumimg13.webp" alt="Imagem do album The Beatles (The White Album) da banda The Beatles lançado em 1968">
                </section>
                <section class="album-descricao">
                    <p class="album-titulo">Let It Be - 1970</p>
                    <p class="album-genero">Rock</p>
                </section>
            </section>

            <section class="album">
                <section class="imagem-album">
                    <img src="img/albumimg14.webp" alt="">
                </section>
                <section class="album-descricao">
                    <p class="album-titulo">Now and Then - 2023</p>
                    <p class="album-genero">Rock</p>
                </section>
            </section>
            
        </section>

        <section class="conteudo-banda">
            <section class="imagem-banda">
                <img src="img/imagembanda02.webp" alt="">
            </section>

            <section class="texto-banda">
                <!-- <h1>
                    Paramore
                </h1> -->
                <section class="banda-logo">
                    <img src="img/paramorelogo.webp" alt="Logo da banda Paramore">
                </section>
                <p>
                    A banda Paramore é uma banda americana de rock formada em Tenesse no ano
                    de 2004. A banda já lançou seis albuns de estúdio. É uma das mais influentes e com popularidade que cresce
                    até hoje mesmo em uma tragetória de 20 anos, mesmo na era do streaming,
                    sendo uma das maiores bandas de rock do mundo, com seus membros sendo
                    ícones da cultura pop, influenciando e criando espaço para uma nova
                    geração de talentos musicais.
                </p>
                <p>
                    A formação do grupo se iniciou em 2002 quando a vocalista, <b><em>Hayley Williams</em></b>,
                    quando tinha treze anos de idade conhece os irmãos Josh e Zac Farro na escola. Ela começou a
                    fazer aulas de canto e, antes de formar o Paramore, participou de uma banda com o baixista <b><em>Jeremy Davis</em></b>
                    enquanto os irmãos Farro tocavam juntos depois da escola. A banda foi oficialmente formada por <b><em>Hayley Williams</em></b>,
                    <b><em>Josh Farro</em></b>, <b><em>Zac Farro</em></b> e <b><em>Jeremy Davis</em></b>.
                    O nome "Paramore" é derivado do nome da mãe de um antigo baixista da banda, quando ainda tocavam
                    em garagem, quando o grupo descobriu o significado da palavra Paramour, <q><em>Amante secreto</em></q>,
                    que sôa muito similar ao nome escolhido e que foi o nome adotado para a banda.
                </p>
            </section>

        </section>

        <section class="album-banda">

            <section class="album">
                <section class="imagem-album">
                    <img src="img/albumimg15.webp" alt="">
                </section>
                <section class="album-descricao">
                    <p class="album-titulo">All We Know Is Falling - 2005</p>
                    <p class="album-genero">Rock Alternativo</p>
                </section>
            </section>

            <section class="album">
                <section class="imagem-album">
                    <img src="img/albumimg16.webp" alt="">
                </section>
                <section class="album-descricao">
                    <p class="album-titulo">Riot - 2007</p>
                    <p class="album-genero">Rock Alternativo</p>
                </section>
            </section>

            <section class="album">
                <section class="imagem-album">
                    <img src="img/albumimg17.webp" alt="">
                </section>
                <section class="album-descricao">
                    <p class="album-titulo">Brand New Eyes - 2009</p>
                    <p class="album-genero">Rock Alternativo</p>
                </section>
            </section>

            <section class="album">
                <section class="imagem-album">
                    <img src="img/albumimg18.webp" alt="">
                </section>
                <section class="album-descricao">
                    <p class="album-titulo">Paramore - 2013</p>
                    <p class="album-genero">Rock Alternativo</p>
                </section>
            </section>

            <section class="album">
                <section class="imagem-album">
                    <img src="img/albumimg19.webp" alt="">
                </section>
                <section class="album-descricao">
                    <p class="album-titulo">After Laughter - 2017</p>
                    <p class="album-genero">Rock Alternativo</p>
                </section>
            </section>

            <section class="album">
                <section class="imagem-album">
                    <img src="img/albumimg20.webp" alt="">
                </section>
                <section class="album-descricao">
                    <p class="album-titulo">This is Why - 2023</p>
                    <p class="album-genero">Rock Alternativo</p>
                </section>
            </section>

        </section>

        <section class="conteudo-banda">
            <section class="imagem-banda">
                <img src={{ url_for('static', filename="img/banda/imagembanda03.webp")}} alt="">
            </section>

            <section class="texto-banda">
<!--                 <h1>
                    Metallica
                </h1> -->
                <section class="banda-logo">
                    <img src={{ url_for('static', filename="img/logo/metallicalogo.webp")}} alt="Logo da banda Metallica">
                </section>
                <p>
                    A banda Metallica foi formada em 1981 pelo bateirista <b><em>Lars Ulrich</em></b>
                    e pelo guitarrista <b><em>James Hetfield</em></b> e se tornou uma das bandas mais 
                    influentes e bem sucedidas comercialmente da história, já tendo vendido mais de
                    120 milhões de albuns ao redor do mundo. Possum diversos albums que se tornaram
                    platina, includino o álbum de 1991, Metallica, referenciado como The Black Album,
                    com vendas próximas a 18 milhões de cópias apenas nos Estados Unidos, sendo um dos álbuns
                    mais vendidos da história. Além disso, em 2009, foram recebidos ao Hall da Fama do
                    Rock and Roll e, em 2013, fizeram história quando realizaram um show na Antártica,
                    tornado-se os únicos a tocar em todos os setes continentes em um período de menos de um ano
                    ganhando um lugar no livro de recordes do Guinness Book.
                </p>
                <p>
                    O Metallica é uma banda de trash metal originária de Los Angeles. Formada em 1981 após <b><em>James Hetfield</em></b>
                    responder por um anúncio que <b><em>Lars Ulrich</em></b> havia colocado no jornal local. A  formação atual da banda
                    consiste o bateirista fundador <b><em>Lars Ulrich</em></b>, e também fundador, vocalista e guitarrista rítmico <b><em>James Hetfield</em></b>,
                    além do guitarrista solo <b><em>Kirk Hammett</em></b> e o baixista <b><em>Robert Trujillo</em></b>. É reconhecido
                    por ter um dos álbuns de trash metal mais infuentes e "pesados" da história do rock/metal. Além disso, a banda alcançou
                    enorme sucesso comercial com o seu álbum auto-intitulado de 1991 ou Metallica, conhecido como The Black Album, que já
                    vendeu 40 milhões de cópias pelo mundo. Além disso, a banda fundou a sua própria gravadora, chamada <b><em>Blackened Recordings</em></b>,
                    e adquiriu os direitos de todos os seus álbuns de estúdio.
                </p>
            </section>

        </section>

        {% for banda in nova_banda %}
        <section class="conteudo-banda">
            <section class="imagem-banda">
                <img src={{ url_for('static', filename=banda.imagem.imagem_url) }} alt={{ banda.imagem.alt_text }}>
            </section>

<!--        <section class="texto-banda">
                <h1>
                    Low Roar
                </h1>
                <section class="banda-logo">
                    <img src="img/logolowroar.webp" alt="Logo da banda Low Roar">
                </section>
                <p>
                    A banda Low Roar, com a visão musical de <b><em>Ryan Karazija</em></b>, torna momentos de solitude
                    em momentos agradáveis uma mistura de melodias de sons ambientes entre outros. A banda foi fundada
                    em meados de 2010, iniciando com <b><em>Ryan Karazija</em></b> em carreira solo, mas posteriormente
                    <b><em>Leifur Björnsson</em></b> e <b><em>Logi Guðmundsson</em></b> entraram na banda.
                </p>
                <p>
                    A banda e o projeto acabou sendo descontinuado após a morte de <b><em>Ryan Karazija</em></b> em
                    Outubro de 2022. A banda, que passava por momentos de dificulade, ganhou uma grande popularidade após
                    <b><em>Hideo Kojima</em></b>, em uma visita a uma loja de CD's em <b><em>Reykjavík, Islândia</em></b>,
                    país natal de <b><em>Ryan Karazija</em></b> e onde a banda se iniciou, ficou encantado pela música da banda
                    e o jogo, <b><em>Death Stranding</em></b>, em que <b><em>Hideo Kojima</em></b> estava trabalhando acaba ganhando
                    grande e pesada influência e participação da discografia da banda em 2019 em uma parceria o que teve um impacto positivo na popularidade
                    da banda assim como os ajudou naquele momento em que estavam passando após conseguirem um contrato com a <b><em>Sony</em></b> para
                    licenciarem a música para o jogo. Infelizmente, em 29 de Outubro de 2022 foi anunciado que o fundador e vocalista principal <b><em>Ryan Karazija</em></b>,
                    veio a falecer na idade de 40 anos, deixando um grande legando e influência.
                </p>
            </section> -->


            <section class="texto-banda">
                <!-- <h1>
                    Low Roar
                </h1> -->
                <section class="banda-logo">
                    <img src={{ url_for('static', filename=banda.bandas.logo.logo_url) }} alt={{ banda.bandas.logo.alt_text }}>
                </section>
                <p>
                    {{ banda.bandas.historia.historia|safe }}
                </p>
            </section>
        </section>
        {% endfor %}

        </section>
    </main>
    <script src="js/bandas.js"></script>
</body>
</html>