<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formulario.css') }}">
</head>
<body>
    
    <header id="navbar">
        <nav>
            <h1 class="logo">
                <a href="#">Imagine</a>
            </h1>
            <ul>
                <li class="pagina-atual"><a href="/">Ínicio</a></li>
                <li><a href="/bandas">Bandas</a></li>
                <li>Músicas</li>
                <li>Filmes</li>
                <li>Artistas</li>
                <li>Sobre</li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Cadastrar Banda</h1>
        <form action="" method="POST">
        <ul>
            <li><input type="text" placeholder="Nome da Banda"></li>
            <li><input type="text" placeholder="Ano formação"></li>
            <li><input type="text" placeholder="Título da história"></li>
            <li><textarea placeholder="História da banda"></textarea></li>
            <li><label for=""></label></li>
            <li><input type="file" src="" alt=""></li>
            <li><input type="text" src="" alt="" placeholder="Enviar imagem"></li>
        </ul>
        </form>

    </main>

</body>
</html>