<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>
<body>
    
    <header id="navbar">
        <nav>
            <h1 class="logo">
                <a href="#">Imagine</a>
            </h1>
            <ul>
                <li class="pagina-atual"><a href="/">Ínicio</a></li>
                <li><a href="/bandas">Bandas</a></li>
                <li>Músicas</li>
                <li>Filmes</li>
                <li>Artistas</li>
                <li>Sobre</li>
            </ul>
        </nav>
    </header>

</body>
</html>